
 h3{
    margin-left: 10%;
    font-weight: 500;
}
.today{
    margin-top: 8%;
    margin-left: 8%;
    background-color: #ffe100;
    width: 17px;
    height: 30px;
    border-radius: 5px;
}
.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-bottom: 65%;
}
 .today p{
    margin-left: 30px;
    color: #ffe100;
}
.popular-item{
    width: 80%;
    margin-top: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 5%;
    margin-left: 15%;
    
}
.popular button{
    width: 17%;
    padding: 15px;
    background-color: #ffe100;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer; 
}